* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'VT323', monospace;
}

body {
    overscroll-behavior: none;
    height: 100vh;
    background-image: url('images/bgpixel.gif');
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column; 
}

.header {
    display: flex;
    align-self: center;
    height: 75px;
}

.header h1 {
    font-size: 60px;
    align-self: center;
    color: white;
    
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.container-2 .results {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.results h2 {
    width: auto;
    font-size: 45px;
    align-self: center;
}

.results p {
    font-size: 36px;
    align-self: center;
}

.container-2 .scores {
    display: flex;
    align-self: center;
    gap: 200px;
}

.scores img {
    border-radius: 90%;
    border: 3px solid rgb(89, 91, 92);
    background-color: rgb(0, 0, 0);
}

.container-2 .scores-text {
    display: flex;
    align-self: center;
    gap: 250px;
    font-size: 36px;
}

.container-2 .selection {
    display: flex;
    align-self: center;
    gap: 35px;
    width: 500px;
}

.selection button {
    width: 200px;
    height: 150px;
    border-radius: 10%;
    border: 3px solid black;
}

#button1 {
    width: 200px;
    height: 150px;
    background-image: url('images/Rock.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100px;
}


.container-2 .copyright {
    display: flex;
    align-self: center;
}

.copyright {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 18%;
}