* {
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
    color: white;
}

body {
    overscroll-behavior: none;
    height: 100vh;
    background-image: url('images/bgpixel.gif');
    background-size: cover;
}

.container {
    display: flex;
    background-color: black;
    flex-direction: column;
    
}

.header {
    display: flex;
    align-self: center;
    height: 75px;
}

.header h1 {
    align-self: center;
    color: white;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.container-2 .results {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.results h2 {
    align-self: center;
}

.results p {
    align-self: center;
}

.container-2 .scores {
    display: flex;
    align-self: center;
    gap: 200px;
}

.scores img {
    border-radius: 10%;
    border: 4px solid black;
}

.container-2 .scores-text {
    display: flex;
    align-self: center;
    gap: 250px;
    font-size: 30px;
}

.container-2 .selection {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 500px;
}

.selection button {
    width: 100px;
    height: 75px;
}


.container-2 .copyright {
    display: flex;
    align-self: center;
}